*
!Gemfile
!Gemfile.lock
!bin/
!bin/rails
!bin/jobs
!config.ru
!config/
!config/**
config/master.key
config/credentials*.yml.enc
!app/
!app/**
!db/
!db/**
!lib/
!lib/**
!public/
!public/**
!Rakefile
!vendor/
!vendor/.keep
